body {
  background: #0f172a;
  color: #00ffcc;
  font-family: monospace;
  text-align: center;
}

.container {
  margin: 30px;
}

input {
  padding: 10px;
  width: 250px;
  margin: 5px;
}

button {
  padding: 10px 15px;
  margin: 5px;
  background: #00ffcc;
  border: none;
  cursor: pointer;
}

.result-box {
  margin-top: 20px;
  text-align: left;
}

.hidden {
  display: none;
}

ul {
  list-style: none;
  padding: 0;
}
